html, body {
  background-color: #121212;
  height: 100%;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modal-content {
  background-color: #121212;
}